@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Cliente</h2>

<p>
    <a asp-action="Create">Cadastrar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPFViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJViewModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameViewModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailViewModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPFViewModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJViewModel)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { item.IdViewModel }) |
                    @Html.ActionLink("Detalhar", "Details", new { item.IdViewModel }) |
                    @Html.ActionLink("Apagar", "Delete", new { item.IdViewModel })
                </td>
            </tr>
        }
    </tbody>
</table>
