@model ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhe do Produto</h2>

<div>
    <hr />
    @Html.HiddenFor(model => model.IdViewModel)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameViewModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameViewModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceViewModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceViewModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionViewModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionViewModel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdViewModel }) |
    <a asp-action="Index">Voltar</a>
</div>
