@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Produto</h2>

<p>
    <a asp-action="Create">Cadastrar produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionViewModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameViewModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceViewModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionViewModel)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { item.IdViewModel }) |
                    @Html.ActionLink("Detalhes", "Details", new { item.IdViewModel }) |
                    @Html.ActionLink("Apagar", "Delete", new { item.IdViewModel })
                </td>
            </tr>
        }
    </tbody>
</table>
